/*                {{{ 
    |\        /|  {
    | \      / |  {
    |  \    /  | {{
    |   \  /   |{{{ 
    |    \/    | {{
 _  |          |  {
|_| |          |  {
                  {{{                  
*/

/* default styles */
html{scroll-behavior: smooth;}
*{box-sizing: border-box; 
  font-family: 'Trebuchet MS', sans-serif;  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;}
body,header,main,footer,section,div{width:100%; height:auto;}
body,h1,h2,h3,h4,h5,h6,p,section,div{margin:0 ; padding:0;}
button,input,select{outline:none; cursor: pointer;}
a{cursor: pointer; text-decoration: none; color: inherit;}
ul,li{margin:0; padding:0; list-style: none;}
input[type=number]::-webkit-inner-spin-button {-webkit-appearance: none;}


/* messenger styles */
.scrollbar-y-style::-webkit-scrollbar{width: 5px;}
.scrollbar-y-style::-webkit-scrollbar-track{background-color: transparent;}
.scrollbar-y-style::-webkit-scrollbar-thumb{background-color: #dddfe2; border-radius: 5px;}
.scrollbar-y-style::-webkit-scrollbar-thumb:hover{background-color: #b7b9ba;}


:root{
  --primary:#3390ec;
  --success:hsl(141, 53%, 53%);
}

/*
}}}
  }
  }
  }}
  }}}
  }}
  }
  }
}}}  
*/